<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Coastal Watershed Council</name>
    <description>
        Field Data Sheet Input Application.
    </description>
    <author email="kgudger@gmail.com" href="http://coastal-watershed.org/">
        Keith Gudger
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreen" value="screen" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="SplashScreenDelay" value="5000" />
    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.FileUtils" />
    </feature>
    <feature name="FileTransfer">
        <param name="android-package" value="org.apache.cordova.FileTransfer" />
    </feature>
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="android-minSdkVersion" value="14" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon platform="android" qualifier="xxhdpi" src="www/images/CWClogo144.png" />
        <icon platform="android" qualifier="xhdpi" src="www/images/CWClogo96.png" />
        <icon platform="android" qualifier="hdpi" src="www/images/CWClogo72.png" />
        <icon platform="android" qualifier="mdpi" src="www/images/CWClogo48.png" />
        <icon platform="android" qualifier="ldpi" src="www/images/CWClogo36.png" />
        <splash density="ldpi" platform="android" src="www/images/CWClogo320426.png" />
        <splash density="mdpi" platform="android" src="www/images/CWClogo320470.png" />
        <splash density="hdpi" platform="android" src="www/images/CWClogo480640.png" />
        <splash density="xhdpi" platform="android" src="www/images/CWClogo720960.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="www/images/CWClogo180.png" width="180" height="180" />
              <!-- iOS 7.0+ -->
              <!-- iPhone / iPod Touch  -->
        <icon src="www/images/CWClogo60.png" width="60" height="60" />
        <icon src="www/images/CWClogo120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="www/images/CWClogo76.png" width="76" height="76" />
        <icon src="www/images/CWClogo152.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="www/images/CWClogo40.png" width="40" height="40" />
        <icon src="www/images/CWClogo80.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="www/images/CWClogo57.png" width="57" height="57" />
        <icon src="www/images/CWClogo114.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="www/images/CWClogo72.png" width="72" height="72" />
        <icon src="www/images/CWClogo144.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="www/images/CWClogo29.png" width="29" height="29" />
        <icon src="www/images/CWClogo58.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
		<splash src="www/images/splash320x480.png" width="320" height="480"/>
		<splash src="www/images/splash768x1024.png" width="768" height="1024"/>
		<splash src="www/images/splash15362048.png" width="1536" height="2048"/>
        <splash height="480" platform="ios" src="www/images/splash320426.png" width="320" />
        <splash height="960" platform="ios" src="www/images/splash640x960.png" width="640" />
        <splash height="1136" platform="ios" src="www/images/splash640x1136.png" width="640" />
        <splash height="1334" platform="ios" src="www/images/splash750x1334.png" width="750" />
        <splash height="2208" platform="ios" src="www/images/splash1242x2208.png" width="1242" />

    </platform>
    <engine name="android" spec="~4.1.1" />
    <plugin name="cordova-plugin-camera" spec="https://git-wip-us.apache.org/repos/asf/cordova-plugin-camera.git" />
    <plugin name="cordova-plugin-media-capture" spec="https://git-wip-us.apache.org/repos/asf/cordova-plugin-media-capture.git" />
    <plugin name="cordova-plugin-media" spec="https://git-wip-us.apache.org/repos/asf/cordova-plugin-media.git" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.2" />
    <engine name="ios" spec="~3.9.2" />
</widget>
